<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @city.region %>
</p>

<p>
  <strong>Place:</strong>
  <%= @city.place %>
</p>

<p>
  <strong>Air:</strong>
  <%= @city.air %>
</p>

<p>
  <strong>Security:</strong>
  <%= @city.security %>
</p>

<p>
  <strong>Food:</strong>
  <%= @city.food %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @city.weather %>
</p>

<p>
  <strong>Moving:</strong>
  <%= @city.moving %>
</p>
<p>
  <strong>Covid:</strong>
  <%= @city.covid %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
